.img_news {
    width: 270px;
    height: 160px;
}

.img_news_detail {
    height: 455px;
    width: 770px;
}

.blog-post-hover {
    height: 190px;
}

.img_post_all {
    width: 280px;
    height: 190px;
}

.blog-post-hover a {
    font-size: 16px;
}

.img_index_home {
    height: 145px;
    width: 200px;
}

.img_outras_postagens {
    height: 50px;
    width: 50px;
    /*margin: 10px;*/
}

.img_postagem_principal {
    width: 300px;
    height: 350px;
}

.modal {
    padding: 20px;
}

input[type="text"] {
    width: 400px;
}

input[type="password"] {
    width: 400px;
}

select {
    margin-top: 10px;
    width: 375px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

textarea {
    width: 400px;
}

input[type="file"] {
    height: 50px;
    line-height: 20px;
}

input[class*="input_login"] {
    width: 200px;
}

/*.gallery-post-grid li {*/
    /*margin-bottom: 70px;*/
/*}*/

.project-details {
    height: 40px;
}

.container_corpo {
    width: 80%;
    margin: auto;
}

input[class*="busca"] {
    width: 210px;
}