{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Advogando</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <link rel="shortcut icon" href="static/img/favicon.ico">
    <link rel="apple-touch-icon" href="static/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/img/apple-touch-icon-114x114.png">

    <!-- JS
    ================================================== -->
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider.js' %}"></script>
    <script src="{% static 'js/jquery.custom.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btn-blog-next").click(function () {
                $('#blogCarousel').carousel('next')
            });
            $("#btn-blog-prev").click(function () {
                $('#blogCarousel').carousel('prev')
            });

            $("#btn-client-next").click(function () {
                $('#clientCarousel').carousel('next')
            });
            $("#btn-client-prev").click(function () {
                $('#clientCarousel').carousel('prev')
            });

        });

        $(window).load(function () {

            $('.flexslider').flexslider({
                animation: "slide",
                slideshow: true,
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });

    </script>

</head>

<body class="home">
<!-- Color Bars (above header)-->
<div class="color-bar-1"></div>
<div class="color-bar-2 color-bg"></div>

<div class="container">

    <div class="row header"><!-- Begin Header -->

        <div class="span5 logo">
            <h5 style="font-size: 26px">JURIDICO SIMPLES</h5>
        </div>

        <div class="span7 navigation">
            <div class="navbar hidden-phone">

                <ul class="nav">
                    <li><a href="{% url 'index' %}">Pagina Inicial</a></li>
                    <li><a href="{% url 'all_news' %}">Todas as Publicações</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal">Acessar</a></li>
                    <li><a href="{% url 'contact' %}">Contatos</a></li>
                </ul>
            </div>


            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Acessar</h4>
                        </div>
                        <div class="modal-body">
                            <h5>Informe seus dados para acessar o sistema.</h5>
                            <form action="/login_admin/" method="post">
                                {% csrf_token %}
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-user"></i></span><input class="span2"
                                                                                                id="prependedInput"
                                                                                                size="16" type="text"
                                                                                                name="user"
                                                                                                placeholder="Nome de Usuario">
                                </div>
                                {% csrf_token %}
                                <div class="input-prepend">
                                    <span class="add-on"><i class="icon-lock"></i></span><input class="span2"
                                                                                                id="appendedPrependedInput"
                                                                                                size="16"
                                                                                                type="password"
                                                                                                name="password"
                                                                                                placeholder="Informe sua Senha">
                                </div>
                                <br>
                                <button class="btn" type="submit">Entrar</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>

                </div>
            </div>


            <form action="#" id="mobile-nav" class="visible-phone">
                <div class="mobile-nav-select">
                    <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                        <option value="">Navegação...</option>
                        <option value="#">Pagina Inicial</option>
                        <option value="#">Todas as Publicações</option>
                        <option value="#">Acessar</option>
                        <option value="#">Contatos</option>
                    </select>
                </div>
            </form>
        </div>
    </div><!-- End Header -->



    {% block body %}

    {% endblock %}

</div> <!-- End Container -->
<!-- Footer Area
    ================================================== -->

<div class="footer-container"><!-- Begin Footer -->
    <div class="container">
        <div class="row footer-row">
            <div class="span3 footer-col">
                <h5>Sobre nos</h5>
                <address>
                    <strong>LGR Advocacia</strong><br/>
                    Rua Valério Pereira, Galeria Portinari<br/>
                    Centro, Petrolina 53604-040<br/>
                </address>
                <ul class="social-icons">
                    <li><a href="#" class="social-icon facebook"></a></li>
                    <li><a href="#" class="social-icon twitter"></a></li>
                </ul>
            </div>
        </div>


    </div>
</div><!-- End Footer -->


<div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>

</body>
</html>
