{% extends 'base_news.html' %}
{% load staticfiles %}
{% block body %}
    <div class="row headline">
        <div class="span8">
            <div class="flexslider">
                <ul class="slides">
                    <li><a href="{% url 'news_detail' postagem_principal.id %}"><img class="img_postagem_principal" src="/media/{{ postagem_principal.image }}" alt="slider"/></a>
                    </li>
{#                    <li><a href="{% url 'contact' %}"><img src="{% static 'img/office.jpg' %}" alt="slider"/></a>#}
{#                    </li>#}
{#                    <li><a href="{% url 'contact' %}"><img src="{% static 'img/office.jpg' %}" alt="slider"/></a>#}
{#                    </li>#}
{#                    <li><a href="{% url 'contact' %}"><img src="{% static 'img/office.jpg' %}" alt="slider"/></a>#}
{#                    </li>#}
{#                    <li><a href="{% url 'contact' %}"><img src="{% static 'img/office.jpg' %}" alt="slider"/></a>#}
{#                    </li>#}
                </ul>
            </div>
        </div>

        <div class="span4">
            <h3>Bem vindo ao advogando. <br/>
                Um grande centro de Informações.</h3>
            <p class="lead">{{ postagem_principal.title }}.</p>
            <p>{{ postagem_principal.body }}.</p>
        </div>
    </div><!-- End Headline -->

    <div class="row gallery-row"><!-- Begin Gallery Row -->

        <div class="span12">
            {% if news_all %}
                <h5 class="title-bg">Postagens Recentes
                    <small>Caso você não as tenha visto</small>
                </h5>
            {% endif %}

            <div class="row clearfix no-margin">
                <ul class="gallery-post-grid holder">

                    {% for new in news_all %}
                        <li class="span3 gallery-item" data-id="id-1" data-type="illustration">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="/media/{{ new.image }}"
                                   class="item-zoom-link lightbox" title="Imagem Ampliada"
                                   data-rel="prettyPhoto"></a>
                                <a href="{% url 'news_detail' new.id %}" class="item-details-link"></a>
                            </span>
                        </span>
                            <a href="gallery-single.htm"><img class="img_news" src="/media/{{ new.image }}"
                                                              alt="Gallery"></a>
                            <span class="project-details"><a
                                    href="gallery-single.htm">{{ new.title }}</a>{{ new.resume }}.</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}