{% extends 'base_news.html' %}
{% load staticfiles %}
{% block body %}

    <div class="row">
        <div class="span8 blog">
            <article>
                <h3 class="title-bg"><a href="#">{{ new_detail.titulo }}</a></h3>
                <div class="post-content">
                    <a href="#">
                        <img class="img_news_detail" src="/media/{{ new_detail.imagem }}" alt="Post Thumb"></a>
                    <div class="post-body">
                        <p style="font-size: 15px">{{ new_detail.corpo }}.</p>
                    </div>
                    <div class="post-summary-footer">
                        <ul class="post-data">
                            <li><i class="icon-calendar"></i>{{ new_detail.data_postagem.date }}</li>
                            <li><i class="icon-user"></i> <a href="#">Admin</a></li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>


            <div class="span4 sidebar">
                <h5 class="title-bg">Outras Postagens</h5>
                <ul class="popular-posts">
                    {% for i in news %}
                        <a href="{% url 'news_detail' i.id %}">
                            <li>
                                <a href="{% url 'news_detail' i.id %}"><img class="img_outras_postagens"
                                                                            src="/media/{{ i.imagem }}" style="width: 30%"
                                                                            alt="Popular Post"></a>
                                <h6><a href="{% url 'news_detail' i.id %}">{{ i.titulo }}</a></h6>
                                <em>{{ i.data_postagem.date }}</em>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
    </div>

{% endblock %}