{% extends 'base_news.html' %}
{% load staticfiles %}
{% block body %}

    <div class="row">
        <div class="span8 blog">
            <article>
                <h3 class="title-bg"><a href="#">{{ new_detail.title }}</a></h3>
                <div class="post-content">
                    <a href="#"><img class="img_news_detail" src="/media/{{ new_detail.image }}" alt="Post Thumb"></a>

                    <div class="post-body">
                        <p>{{ new_detail.body }}.</p>
                    </div>

                    <div class="post-summary-footer">
                        <ul class="post-data">
                            <li><i class="icon-calendar"></i>{{ new_detail.date.date }}</li>
                            <li><i class="icon-user"></i> <a href="#">Admin</a></li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>


        <!-- Blog Sidebar
        ================================================== -->
        <div class="span4 sidebar">


            <h5 class="title-bg">Outras Postagens</h5>
            <ul class="popular-posts">
                {% for i in news %}
                <li>
                    <a href="#"><img src="/media/{{ i.image }}" style="width: 30%" alt="Popular Post"></a>
                    <h6><a href="#">{{ i.title }}</a></h6>
                    <em>{{ i.date }}</em>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}